table {
  border-collapse: collapse;
}

td {
  width: 25px;
  height: 25px;
  background-color: blue;
  display: inline-block;
  margin: .5px;
  clear: both;
}

button {
  position: absolute;
  padding: 10px;
  margin: 10px;
}
